body {
  background-color: white;
  max-width: 477px;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: #FFF7ED;
}

.NavBarLogo {
  line-height: 60px;
  align-self: center;
  font-size: 25px;
  color: black;
  margin: 0px;
  padding-left: 20px;
}

.NavBarLinks {
  color: black;
  font-size: 22px;
  line-height: 60px;
  align-self: center;
  margin-left: auto;
  padding-right: 5px;
  height: 100%;
}

.NavBarLinksLink {
  padding-left: 10px;
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: #AAAAAA;
  line-height: 30px;
}

.HomeBody{
  background: url("Cali1.JPG") no-repeat center center;
  background-size: inherit;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  max-width: 477px;
  height: 500px;
  border: solid 2px red;
  padding: 45px 23px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.HomeBody button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #FF8C38;
  border: none;
  width: 100%;
  margin-top: 27px;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.AboutPage {
  background-color: #FFF7ED;
  max-width: 477px;
  padding-bottom: 10px;
}

.AboutHeroImage{
  width: 100%;
}

.AboutTextPanel {
  margin-left: 20px;
  margin-right: 20px;
}

.AboutButtonPanel{
  background-color: #FFCC8D;
  border: solid 1px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px 30px;
}

.AboutButtonPanel button {
  color: white;
  background-color: black;
}