body {
  background-color: white;
  max-width: 477px;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: #FFF7ED;
}

.NavBarLogo {
  line-height: 60px;
  align-self: center;
  font-size: 25px;
  color: black;
  margin: 0px;
  padding-left: 20px;
}

.NavBarLinks {
  color: black;
  font-size: 14px;
  line-height: 60px;
  align-self: center;
  margin-left: auto;
  padding-right: 5px;
  height: 100%;
}

.NavBarLinksLink {
  padding-left: 10px;
  color: #4D4D4D
}

.NavBarLinksLink:hover{
  color: black
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: #AAAAAA;
  line-height: 30px;
}

.HomeBody{
  background: url("./assets/Cali2.JPG") no-repeat center center;
  background-size: inherit;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  max-width: 477px;
  height: 500px;
  border: solid 2px red;
  padding: 45px 23px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.HomeBody button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #FF8C38;
  border: none;
  width: 100%;
  margin-top: 27px;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.AboutPage {
  background-color: #FFF7ED;
  max-width: 477px;
  padding-bottom: 10px;
}

.AboutHeroImage{
  width: 100%;
}

.AboutTextPanel {
  margin-left: 20px;
  margin-right: 20px;
}

.AboutButtonPanel{
  background-color: #FFCC8D;
  border: solid 1px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px 30px;
}

.AboutButtonPanel button {
  color: white;
  background-color: black;
}

.VansPage {
  background-color: #FFF7ED;
  max-width: 477px;
  padding-bottom: 10px;
}

.VansPageHeader{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.VansPageHeaderFilters{
  display: flex;
  flex-direction: row;
}

.VanPageHeaderType {
  background-color: #FFEAD0;
  padding: 5px 15px 5px 15px;

  border-radius: 5px;
  margin-right: 5px;
}

.VansPageHeaderClearFilters{
  text-decoration: underline;
  font-weight: 600;
  color: black;
  margin-left: auto;
  line-height: 30px;
}

.VanPageTiles{
  display: grid;
  grid-template: auto auto / repeat(2, 1fr);
  gap: 20px;
}

.VansVanBlock{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
}

.VansVanBlockImage {
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.VansVanBlockNameRow{

}

.VansVanBlockButtonRow{

}

.VansVanBlockName{
  float:left;
  margin-top: 2px;
  margin-bottom: 2px;
}

.VansVanBlockPrice{
  float:right;
  padding-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.VansVanBlockTypesimple{
  background-color: #E17654;
  float:left;
  margin-top: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  height: 28px;
  line-height: 24px;
  border-radius: 5px;
}

.VansVanBlockTyperugged{
  background-color: #115E59;
  float:left;
  margin-top: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  height: 28px;
  line-height: 24px;
  border-radius: 5px;
}

.VansVanBlockTypeluxury{
  background-color: #161616;
  float:left;
  margin-top: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  height: 28px;
  line-height: 24px;
  border-radius: 5px;
}


.VansVanBlockDay{
  float:right;
  padding-right: 2px;
  margin-top: 0px;
}

.VansDetailPage{
  background-color: #FFF7ED;
}

.VansDetailBlock{
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  
}

.VansDetailBack{

}


.VansDetailBlockName{
  margin-top: 10px;
  margin-bottom: 10px;
}

.VansDetailBlockPrice{
  margin: 0px;
}

.VansDetailBlockImage{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.VansDetailBlockTypesimple{
  background-color: #E17654;
  float:left;
  margin-top: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  height: 28px;
  line-height: 24px;
  border-radius: 5px;
}

.VansDetailBlockTyperugged{
  background-color: #115E59;
  float:left;
  margin-top: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  height: 28px;
  line-height: 24px;
  border-radius: 5px;
}

.VansDetailBlockTypeluxury{
  background-color: #161616;
  float:left;
  margin-top: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  height: 28px;
  line-height: 24px;
  border-radius: 5px;
}

.VansDetailBlockButton{
  width: 100%;
  color: white;
  background-color: #FF8C38;
  margin-bottom: 20px;
}

.HostNavBarLinks{
  background-color: #FFF7ED;
  margin-bottom: 0px;
}

.HostNavBarLinksLink{
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.HostNavBarLinksLink:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.HostVanPage{
  background-color: #FFF7ED;
  border: solid 2px #FFF7ED;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

.HostVanList{
  display: flex;
  flex-direction: column;
}

.HostVanBlock{
  height: 80px;
  
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.HostVanBlockImage{
  max-height: 100%;
  width: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.HostVanBlockDetail{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 12px;
}

.HostVanBlockTitle{
  font-weight: 700;
}

.HostVansDetailPage{
  background-color: #FFF7ED;
  border: solid 2px #FFF7ED;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

.HostVansDetailHeader{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.HostVansDetailBlock{
  display: flex;
  flex-direction: row;
}

.HostVansDetailBlockImage {
  width: 100px;
  border-radius: 2px;
}

.HostVansDetailBlockData{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.HostVansDetailMenu{
  display: flex;
  flex-direction: row;
}

.HostVanDetailsHomeData h4{
  margin: 10px;
  font-weight: 400;
}
.HostVanDetailsHomeData span{
  font-weight: 700;
}

.HostVanDetailPricingPage {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
}

.HostVanDetailPricingPage span{
  font-weight: 700;
  font-size: 16px;
}